.App {
  margin: 0;
  padding: 24px;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  pointer-events: none;
  mix-blend-mode: overlay;
}

body > iframe {
  display: none;
}

.wrapper {
  max-height: 90vh;
  width: 100%;
  position: relative;
  aspect-ratio: 5/7;
  max-width: calc(90vh * 5/7);
  border: 0.75vmin solid #f7f7f7;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
}

loader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2vmin;
  line-height: 1;
}

.progressbar {
  position: relative;
  max-width: 30vmin;
  width: 100vw;
  margin: 1vmin auto 0;
  height: 0.5vmin;
  overflow: hidden;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0.5vmin;
}

span.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: all .02s ease-in;
  border-radius: 0.5vmin;
}