.App {
  margin: 0;
  /* padding: 24px;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px); */
  width: 100vw;
  height: 100vh;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  pointer-events: none;
  mix-blend-mode: overlay;
}

body > iframe {
  display: none;
}